
header{
  min-height: 10vh;
  background-color: rgb(121, 118, 118);
  min-width: 100%;
}
main {
  min-height: 80vh;
  background-color: rgb(121, 206, 51);
}
aside {
  min-height: 80vh;
  background-color: rgb(199, 188, 188);

}